.header img {
    position: relative; 
    top:0; 
    left: 0;
    width: 100%;
    height: 40%;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 5rem;
}
.main{
    margin-left: 15em;
}
.rightside{
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif;
    display: inherit;
    position: relative;
    float: right;
    width: 332px;
    input{
        
        flex: 1;
        outline: 1.1rem;
        border: none;
        background: transparent;
        border-bottom: 1px solid #13a026;
        &:focus{
            border-bottom: 1px solid #ff0000;
        }
    }
    button{
        width: 5rem ;
        height: 2rem;
        margin-left: 2rem;
        border: 1px solid #000000;
        color: #000000;
        font-weight: 500;
        font-size: 1rem;
        
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover{
            background : #ffffff
        }
    }
    h1{
        color: palegoldenrod;
        padding-left: 50px;
    }
    
}
