.rightside{
    position: relative;
    float: right;
    width: 332px;
    
}
.rightside input{
    flex: 1;
    outline: 1.1rem;
    border: none;
    background: transparent;
    border-bottom: 1px solid #00ff22;
    &: focus
}
.rightside input{
    flex: 1;
    outline: 1.1rem;
    border: none;
    background: transparent;
    border-bottom: 1px solid #00ff22;
    
}